<mat-card class="user-card">
  <header [@fallIn]="state">
    <a href=""  [routerLink]="['/view']" class="back"><mat-icon title="Назад">chevron_left</mat-icon></a>
    <mat-icon (click)="onLogoutClick()" title="Выйти" class="exit">directions_run</mat-icon>
  </header>
  <form class="form" [@moveInLeft]="state" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <h2 class="title">Расскажите немного о себе</h2>
    <mat-form-field><input matInput formControlName ="nickname" placeholder="Псевдоним, видимый другим пользователям"></mat-form-field>
    <mat-form-field><input matInput formControlName ="fname" placeholder="Имя"></mat-form-field>
    <mat-form-field><input matInput formControlName="lname" placeholder="Фамилия"></mat-form-field>
    <mat-form-field><input matInput formControlName="mname" placeholder="Отчество"></mat-form-field>
    <mat-form-field><input matInput formControlName="email" placeholder="Адрес электронной почты"></mat-form-field>
    <div class="providers">
      <span *ngFor="let provider of providers | keys" class="{{provider.value}}">{{provider.key}}</span>
    </div>

    <button mat-raised-button disableRipple color="accent" type="submit" class="submit" [disabled]="!dataForm.valid">
      Сохранить
    </button>
  </form>
</mat-card>
