<mat-card>

  <!--<img src="assets/images/lock.svg" alt="lock">-->
  <a class="exit-from-user" [routerLink]="['/view']"><mat-icon>close</mat-icon></a>
  <div class="lock"></div>
  <div class="buttons">
    <span class="error" *ngIf="error">{{ error }}</span>
    <button mat-raised-button disableRipple (click)="loginFacebook()" id="fb">Войти через Facebook</button><br>
    <button mat-raised-button disableRipple (click)="loginGoogle()" id="google">Войти через Google</button><br>
    <button mat-raised-button disableRipple (click)="loginTwitter()" id="twitter">Войти через Twitter</button><br>
    <button mat-raised-button disableRipple [routerLink]="['/user/login-email']" id="email">Войти используя эл.почту</button><br>

    <a [routerLink]="['/user/signup']" routerLinkActive="active" class="register">
      <strong> Зарегистрироваться</strong>
    </a>
  </div>
</mat-card>
