@import '../../app.theme.scss';

:host {
  background-color: $app-light;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute !important;
  mat-card {
    padding: 30px;
    height: 500px;
    min-width: 300px;
    min-height: 500px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .buttons {
      display: flex;
      flex-flow: column wrap;
      button {
        height: 50px;
      }
    }
    .register {
      text-align: center;
    }
  }
}
#lock {
    width:40%;
    margin: 1.5em auto 4em auto;
    display:block;
}

.lock{
    background: url('../../../assets/images/lock.svg') no-repeat 25px;
    display:block;
    width: 150px;
    height: 150px;
    background-size: cover;
    margin: auto;
    background-position-x: 0px;
    margin-bottom: 30px;
}
#fb {
    background:#3B5998 url('../../../assets/images/facebook.svg') no-repeat 15px -5px;
    background-size: 47px;
    color:#fff;
}

#google {
    border: 1px solid #95989A;
    background: #fff  url('../../../assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

#email {
    background: #ECECEC  url('../../../assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
    border: 1px solid #95989A;
}

#twitter {
    background:#00abf1 url('../../../assets/images/twitter.svg') no-repeat 20px 8px;
    background-size: 35px;
    color:#fff;
}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    #fb {
        background:#3B5998;
    }

    #google {
        background: #fff;
    }

    #email {
        background: #ECECEC;
    }
}
